---
const { liveDemoLink } = Astro.props;
---

<a
  class="relative inline-flex items-center justify-center mt-10 py-2 px-4 overflow-hidden font-medium text-white transition duration-300 ease-out border-2 border-neutral-900 rounded-full shadow-md group"
  href={liveDemoLink}
>
  <span
    class="absolute inset-0 flex items-center justify-center w-full h-full text-white duration-300 -translate-x-full bg-neutral-900 group-hover:translate-x-0 ease"
  >
    <svg
      class="w-5 h-5"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
      ><path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M14 5l7 7m0 0l-7 7m7-7H3"></path></svg
    >
  </span>
  <span
    class="absolute flex items-center justify-center w-full h-full text-neutral-900 text-sm transition-all duration-300 transform group-hover:translate-x-full ease"
    >Live Demo</span
  >
  <span class="relative invisible">Live Demo</span>
</a>
