---

---

<!-- About -->
<div class="mt-8">
  <p class="text-sm text-gray-900">
    I am a Software Developer with a strong enthusiasm for software development,
    particularly in web development. Proficient in Linux operating systems, I
    consistently strive to enhance productivity in various technological
    projects.
  </p>

  <p class="mt-3 text-sm text-gray-600">
    Beyond technical skills, I am known for my diligence and ability to
    collaborate effectively within a team. With my experience as Freelance
    Frontend Developer, I am experienced in tackling real-world challenges with
    creative solutions. Ready to contribute to a dynamic, solution-oriented work
    environment.
  </p>
  <!-- End About -->
</div>
