<!-- Education -->
<div class="grid grid-cols-1 sm:grid-cols gap-3 shadow-sm fade-in">
  <div class="p-4 border border-gray-300 rounded-lg">
    <!-- image -->
    <img class="w-15 h-15 mb-3" src="/my-portfolio/images/umb.png" />
    <h3 class="mb-1 text-xs text-gray-600">2021 - 2024</h3>

    <p class="font-semibold text-sm text-black">
      Bachelor's degree in Informatics Engineering
    </p>

    <h3 class="mt-1 text-xs text-gray-600">GPA: 3.73</h3>

    <p class="mt-1 text-sm text-gray-600">Universitas Muhammadiyah Bengkulu</p>
  </div>
</div>
<!-- End Grid -->
<!-- End Education -->
