<!-- Work Experience -->
<div>
  <!-- Item -->
  <div class="group relative flex gap-x-5 fade-in">
    <!-- Icon -->
    <div
    class="relative group-last:after:hidden after:absolute after:top-8 after:bottom-2 after:inset-3 after:w-px after:translate-x-[-0.5px] after:bg-gray-200 dark:after:bg-neutral-700"
    >
      <div class="relative z-10 size-6 flex justify-center items-center">
        <svg
          class="shrink-0 size-6 text-black"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M12 12h.01"></path>
          <path d="M16 6V4a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v2"></path>
          <path d="M22 13a18.15 18.15 0 0 1-20 0"></path>
          <rect width="20" height="14" x="2" y="6" rx="2"></rect>
        </svg>
      </div>
    </div>
    <!-- End Icon -->

    <!-- Right Content -->
    <div class="grow pb-8 group-last:pb-0">
      <h3 class="mb-1 text-xs text-gray-600">2024</h3>

      <p class="font-semibold text-sm text-black">
          Technical Product Owner & Lead Engineer
      </p>

      <p class="mt-1 text-sm text-gray-600">
          Building a specialized SaaS platform from ground-up to MVP stage, collaborating directly with a Senior Project Manager to manage full product and engineering lifecycles.
      </p>

      <ul class="list-disc ms-6 mt-3 space-y-1.5">
        <li class="ps-1 text-sm text-gray-600">
          Mobile Engineering: Architect, build, and maintain the cross-platform mobile application utilizing
          Flutter and Dart, ensuring smooth integration with backend APIs and optimizing application performance.
        </li>
        <li class="ps-1 text-sm text-gray-600">
          DevOps & CI/CD Pipeline: Architect a multi-service containerized environment using Docker Compose to
          orchestrate backend applications, relational databases, caching, and logging layers. Designed and implemented
          automated CI/CD workflows using GitHub Actions to streamline testing and multi-environment deployment.
        </li>
        <li class="ps-1 text-sm text-gray-600">
          Systems & Networking: Leverage deep Linux expertise to deploy and maintain secure, self-hosted email server
          infrastructure, managing complex domain configurations, server environments, and production releases via the
          Google Play Console.
        </li>
        <li class="ps-1 text-sm text-gray-600">
          DevOps & CI/CD Pipeline: Architect a multi-service containerized environment using Docker Compose to
          orchestrate backend applications, relational databases, caching, and logging layers. Designed and implemented
          automated CI/CD workflows using GitHub Actions to streamline testing and multi-environment deployment.
        </li>
        <li class="ps-1 text-sm text-gray-600">
          Workflow Orchestration: Coordinate repository management, code versioning strategies, and lead bi-daily
          standups with development peers to ensure cross-functional alignment and timely feature releases.
        </li>
      </ul>
    </div>
    <!-- End Right Content -->
  </div>
  <!-- End Item -->

  <!-- Item -->
  <div class="group relative flex gap-x-5 fade-in">
    <!-- Icon -->
    <div
      class="relative group-last:after:hidden after:absolute after:top-8 after:bottom-2 after:inset-s-3 after:w-px after:translate-x-[-0.5px] after:bg-gray-200 dark:after:bg-neutral-700"
    >
      <div class="relative z-10 size-6 flex justify-center items-center">
        <svg
          class="shrink-0 size-6 text-black"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M12 12h.01"></path>
          <path d="M16 6V4a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v2"></path>
          <path d="M22 13a18.15 18.15 0 0 1-20 0"></path>
          <rect width="20" height="14" x="2" y="6" rx="2"></rect>
        </svg>
      </div>
    </div>
    <!-- End Icon -->

    <!-- Right Content -->
    <div class="grow pb-8 group-last:pb-0">
      <h3 class="mb-1 text-xs text-gray-600">2024</h3>

      <p class="font-semibold text-sm text-black">
        Freelance Front End Developer
      </p>

      <p class="mt-1 text-sm text-gray-600">
        As freelance working with small team developed a website for a goverment
        institution.
      </p>

      <ul class="list-disc ms-6 mt-3 space-y-1.5">
        <li class="ps-1 text-sm text-gray-600">
          Converted UIs into responsive HTML and CSS with a mobile-first
          approach.
        </li>
        <li class="ps-1 text-sm text-gray-600">
          Elaborate with back-end developers to integrate features and APIs to
          develop performant and responsive website.
        </li>
        <li class="ps-1 text-sm text-gray-600">
          Engaged with client to address setup inquiries, bug issues, and
          feedback.
        </li>
      </ul>
    </div>
    <!-- End Right Content -->
  </div>
  <!-- End Item -->
</div>
<!-- End Timeline -->
<!-- End Work Experience -->
