---

---

<!-- Profile -->
<div class="flex items-center gap-x-5">
  <div class="shrink-0">
    <img
      class="shrink-0 size-22 rounded-full"
      src="/my-portfolio/images/profil_square.png"
      alt="Avatar"
    />
  </div>

  <div class="grow">
    <h1 class="text-lg font-medium text-black">Abrar Abe Mujaddid</h1>
    <p class="text-sm text-black">Software Developer</p>
  </div>
</div>
<!-- End Profile -->
