---
const name = "Abrar Abe Mujaddid";
const role = "Software Developer";
const imageUrl = "/my-portfolio/images/profil_square.png";
---

<!-- Profile -->
<div class="flex items-center gap-x-5">
  <div class="shrink-0">
    <img class="shrink-0 size-22 rounded-full" src={imageUrl} alt="Avatar" />
  </div>

  <div class="grow">
    <h1 class="text-lg font-bold text-black">{name}</h1>
    <p class="text-sm text-black">{role}</p>
  </div>
</div>
<!-- End Profile -->
