---

---

<div class="mt-10 sm:mt-14">
  <h2 class="mb-5 font-medium text-black">Projects</h2>

  <div class="grid grid-cols-2 sm:grid-cols-3 gap-2">
    <a class="group relative block overflow-hidden rounded-lg" href="#">
      <img
        class="size-40 w-full object-cover rounded-lg bg-gray-100 transition-transform duration-200 transform group-hover:scale-105"
        src="https://images.unsplash.com/photo-1656618724305-a4257e46e847?q=80&w=320&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Project"
        loading="lazy"
      />
      <div
        class="absolute bottom-1 end-1 transition opacity-0 group-hover:opacity-100"
      >
        <div
          class="flex items-center gap-x-1 rounded-lg border border-gray-200 bg-white py-1 px-2 text-black"
        >
          <svg
            class="size-3 shrink-0"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <circle cx="11" cy="11" r="8"></circle>
            <path d="m21 21-4.3-4.3"></path>
          </svg>
          <span class="text-xs">View</span>
        </div>
      </div>
    </a>

    <a class="group relative block overflow-hidden rounded-lg" href="#">
      <img
        class="size-40 w-full object-cover rounded-lg bg-gray-100 transition-transform duration-200 transform group-hover:scale-105"
        src="https://images.unsplash.com/photo-1616427592793-67b858804534?q=80&w=320&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Project"
        loading="lazy"
      />
      <div
        class="absolute bottom-1 end-1 transition opacity-0 group-hover:opacity-100"
      >
        <div
          class="flex items-center gap-x-1 rounded-lg border border-gray-200 bg-white py-1 px-2 text-black"
        >
          <svg
            class="size-3 shrink-0"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <circle cx="11" cy="11" r="8"></circle>
            <path d="m21 21-4.3-4.3"></path>
          </svg>
          <span class="text-xs">View</span>
        </div>
      </div>
    </a>

    <a class="group relative block overflow-hidden rounded-lg" href="#">
      <img
        class="size-40 w-full object-cover rounded-lg bg-gray-100 transition-transform duration-200 transform group-hover:scale-105"
        src="https://images.unsplash.com/photo-1516131206008-dd041a9764fd?q=80&w=320&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Project"
        loading="lazy"
      />
      <div
        class="absolute bottom-1 end-1 transition opacity-0 group-hover:opacity-100"
      >
        <div
          class="flex items-center gap-x-1 rounded-lg border border-gray-200 bg-white py-1 px-2 text-black"
        >
          <svg
            class="size-3 shrink-0"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <circle cx="11" cy="11" r="8"></circle>
            <path d="m21 21-4.3-4.3"></path>
          </svg>
          <span class="text-xs">View</span>
        </div>
      </div>
    </a>

    <a class="group relative block overflow-hidden rounded-lg" href="#">
      <img
        class="size-40 w-full object-cover rounded-lg bg-gray-100 transition-transform duration-200 transform group-hover:scale-105"
        src="https://images.unsplash.com/photo-1707760696486-2a2cd7e0b6a6?q=80&w=320&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Project"
        loading="lazy"
      />
      <div
        class="absolute bottom-1 end-1 transition opacity-0 group-hover:opacity-100"
      >
        <div
          class="flex items-center gap-x-1 rounded-lg border border-gray-200 bg-white py-1 px-2 text-black"
        >
          <svg
            class="size-3 shrink-0"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <circle cx="11" cy="11" r="8"></circle>
            <path d="m21 21-4.3-4.3"></path>
          </svg>
          <span class="text-xs">View</span>
        </div>
      </div>
    </a>

    <a class="group relative block overflow-hidden rounded-lg" href="#">
      <img
        class="size-40 w-full object-cover rounded-lg bg-gray-100 transition-transform duration-200 transform group-hover:scale-105"
        src="https://images.unsplash.com/photo-1585159812596-fac104f2f069?q=80&w=320&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Project"
        loading="lazy"
      />
      <div
        class="absolute bottom-1 end-1 transition opacity-0 group-hover:opacity-100"
      >
        <div
          class="flex items-center gap-x-1 rounded-lg border border-gray-200 bg-white py-1 px-2 text-black"
        >
          <svg
            class="size-3 shrink-0"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <circle cx="11" cy="11" r="8"></circle>
            <path d="m21 21-4.3-4.3"></path>
          </svg>
          <span class="text-xs">View</span>
        </div>
      </div>
    </a>

    <a class="group relative block overflow-hidden rounded-lg" href="#">
      <img
        class="size-40 w-full object-cover rounded-lg bg-gray-100 transition-transform duration-200 transform group-hover:scale-105"
        src="https://images.unsplash.com/photo-1654131300276-db70adf4f85d?q=80&w=320&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Project"
        loading="lazy"
      />
      <div
        class="absolute bottom-1 end-1 transition opacity-0 group-hover:opacity-100"
      >
        <div
          class="flex items-center gap-x-1 rounded-lg border border-gray-200 bg-white py-1 px-2 text-black"
        >
          <svg
            class="size-3 shrink-0"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <circle cx="11" cy="11" r="8"></circle>
            <path d="m21 21-4.3-4.3"></path>
          </svg>
          <span class="text-xs">View</span>
        </div>
      </div>
    </a>
  </div>
</div>
