---
const socials = [
  {
    name: "Email",
    url: "mailto:abrar.abe01@gmail.com",
    icon: "mail",
  },
  {
    name: "LinkedIn",
    url: "https://www.linkedin.com/in/abrar-abe-39450b339",
    icon: "linkedin",
  },
  {
    name: "Instagram",
    url: "https://instagram.com/abrar_mdd",
    icon: "instagram",
  },
  {
    name: "GitHub",
    url: "https://github.com/AbrarAbe",
    icon: "github",
  },
];
---

<ul class="mt-5 flex flex-col gap-y-3">
  {
    socials.map((social) => (
      <li class="flex items-center gap-x-2.5">
        {social.icon === "mail" && (
          <svg
            class="shrink-0 size-3.5 text-gray-800"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <rect width="20" height="16" x="2" y="4" rx="2" />
            <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7" />
          </svg>
        )}
        {social.icon === "linkedin" && (
          <svg
            class="shrink-0 size-3.5 text-gray-800"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z" />
            <rect width="4" height="12" x="2" y="9" />
            <circle cx="4" cy="4" r="2" />
          </svg>
        )}
        {social.icon === "instagram" && (
          <svg
            class="shrink-0 size-3.5 text-gray-800"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <rect width="20" height="20" x="2" y="2" rx="5" ry="5" />
            <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z" />
            <line x1="17.5" x2="17.51" y1="6.5" y2="6.5" />
          </svg>
        )}
        {social.icon === "github" && (
          <svg
            class="shrink-0 size-3.5 text-gray-500"
            width="24"
            height="24"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"
              fill="currentColor"
            />
          </svg>
        )}

        <a
          class="text-sm text-gray-800 underline hover:text-black hover:decoration-2 focus:outline-hidden focus:decoration-2"
          href={social.url}
        >
          {social.name === "Email"
            ? social.url.replace("mailto:", "")
            : social.name === "Twitter"
              ? `${social.url.split("/").pop()}`
              : social.name === "LinkedIn"
                ? `${social.url.split("/").pop()}`
                : social.name === "GitHub"
                  ? `${social.url.split("/").pop()}`
                  : social.name}
        </a>
      </li>
    ))
  }
</ul>
