---
import About from "../components/About.astro";
import ContactMe from "../components/ContactMe.astro";
import DownloadCV from "../components/DownloadCV.astro";
import Certificates from "../components/Certificates.astro";
import Education from "../components/Education.astro";
import Experience from "../components/Experience.astro";
import Footer from "../components/Footer.astro";
import Metadata from "../components/Metadata.astro";
import Profile from "../components/Profile.astro";
import Projects from "../components/projects/Projects.astro";
import Skills from "../components/Skills.astro";
import Socials from "../components/Socials.astro";
import Section from "../components/Section.astro";
import Card from "../components/Card.astro"; // Import Card component
import "../styles/global.css";

const { title, siteIcon } = Astro.props;
---

<!doctype html>
<html lang="en">
  <Metadata title={title} siteIcon={siteIcon} />
  <body class="bg-slate-50 min-h-screen flex flex-col pt:5 mt-5 sm:mt-0">
    <!-- <Header /> -->
    <main id="content">
      <div class="w-full max-w-3xl mx-auto px-4 sm:px-6 lg:px-8">
        <section
          class="md:pt-0 xl:h-auto md:flex md:items-center md:justify-center transition-transform duration-300 ease-in-out flex-col"
          id="profile-container"
        >
          <div
            class="flex flex-col sm:items-center sm:justify-center sm:min-h-screen"
          >
            <div
              class="bg-white flex flex-col shadow-xl rounded-lg p-5 mb-4 sm:mb-0"
            >
              <Profile />
              <About />
              <div class="flex gap-[20px] flex-wrap justify-center">
                <div class="grow">
                  <Socials />
                </div>
                <div class="mt-3 sm:mt-5">
                    <div class="flex flex-col gap-2">
                      <DownloadCV />
                      <Certificates />
                    </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <Section title="Projects">
          <Projects />
        </Section>
        <Section title="Skills">
          <Skills />
        </Section>
        <Section title="Experience">
          <Experience />
        </Section>
        <Section title="Education">
          <Education />
        </Section>
        <Section title="Contact Me">
          <ContactMe />
        </Section>
      </div>
      <script src="/src/scripts/scripts.js"></script>
    </main>
  </body><Footer />
</html>
