---
import About from "../components/About.astro";
import ContactMe from "../components/ContactMe.astro";
import DownloadCV from "../components/DownloadCV.astro";
import Education from "../components/Education.astro";
import Experience from "../components/Experience.astro";
import Footer from "../components/Footer.astro";
import Metadata from "../components/Metadata.astro";
import Profile from "../components/Profile.astro";
import Projects from "../components/projects/Projects.astro";
import Skills from "../components/Skills.astro";
import Socials from "../components/Socials.astro";
import "../styles/global.css";

const { title, siteIcon } = Astro.props;
---

<!doctype html>
<html lang="en">
  <Metadata title={title} , siteIcon={siteIcon} />
  <body class="bg-slate-50 min-h-screen flex flex-col">
    <!-- <Header /> -->
    <main id="content">
      <div class="w-full max-w-2xl mx-auto pt-10 md:pt-16 px-4 sm:px-6 lg:px-8">
        <Profile />
        <About />
        <div class="flex gap-[20px] flex-wrap">
          <div class="grow">
            <Socials />
          </div>
          <div class="mt-5">
            <DownloadCV />
          </div>
        </div>
        <Projects />
        <Skills />
        <Experience />
        <Education />
        <ContactMe />
      </div>
    </main>
    <Footer />
    <script src="/src/scripts/scripts.js"></script>
  </body>
</html>
