---
import Footer from "../components/Footer.astro";
import Metadata from "../components/Metadata.astro";
import "../styles/global.css";

const { title, siteIcon } = Astro.props;
---

<html lang="en">
  <Metadata title={title} , siteIcon={siteIcon} />
  <body class="bg-slate-50">
    <!-- <Header /> -->
    <main id="content" class="mb-1s0">
      <div class="w-full max-w-2xl mx-auto pt-10 md:pt-16 px-4 sm:px-6 lg:px-8">
        <slot />
      </div>
    </main>
    <Footer />
    <script src="/src/scripts/scripts.js"></script>
  </body>
</html>
